<!DOCTYPE html>


<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Pokemon Site</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

<div class="container-fluid custom-bg">  
  <nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Pokemon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/stats">Stats</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/box">Poke Page</a>
          </li>

        </ul>
      
      </div>
    </div>
  </nav>
</div>


<div class="container-fluid custom-bg">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-3 text-center custom-header">Pokemon Project</h1>
      <div class="text-center">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/150.png" alt="Your Image">
      </div>
      <p class="lead text-center custom-subheader">Explore our database of Pokemon and discover unique abilities and stats!</p>
      <p class="blocktext" style="font-weight: bold;">
      We've compiled data and information on all your favorite Pokemon! 
      </p>
      <p class="blocktext">
      This site was made to demonstrate our ability to create interactive data visualizations.
      We created all of our visualizations with data from a SQLite database, which was made by calling pokeapi.co. 
      This project is powered by Flask and includes HTML/CSS and Javascript.
      </p>
      <p class="blocktext" style="font-weight: bold;">
      Thank you for visiting! 
      </p>

    </div>
    <div class="col-md-12">

      <br>
        <div class="col-md-3">
          <h3 class="display-6 text-center custom-subheader">Page Navigation</h3>
        </div>
        <hr>
      <div class="row">

        <div class="col-md-4">
          <div class="container">
            <a href="/"><img src="https://cdn.dribbble.com/users/250235/screenshots/2850450/media/c685c0c89d3e21a6f738d71a6c0dde56.png" alt="Pokemon Center"></a>
          </div>
          <div class="custom-subheader">
            <a class="navbar custom-link" href="/">Pokemon Home</a>
          </div>
          <p class="custom-text">Use our handy NavBar to return back to this page whenever you need to!</p>
        </div>

        <div class="col-md-4">
          <div class="container">
            <a href="/stats"><img src="https://cdn.dribbble.com/users/951937/screenshots/3149843/media/578363451bdfd4179fb2d5d399a21ffe.jpg?resize=400x300&vertical=center" alt="Pokemon Stats"></a>
          </div>
          <div class="custom-subheader">
            <a class="navbar custom-link" href="/stats">Stats</a>
          </div>
          <p class="custom-text">Head over to the Stats page to find information on your favorite pokemon.</p>
        </div>

        <div class="col-md-4">
          <div class="container">
            <a href="/box"><img src="https://cdn.dribbble.com/users/817492/screenshots/5814123/media/5352ef6c514efdcdc213bdb676b4541a.png?resize=400x300&vertical=center" alt="Pokdex"></a>
          </div>
          <div class="custom-subheader">
            <a class="navbar custom-link" href="/box">Poke Page</a>
          </div>
          <p class="custom-text">Don't know what you're looking for? No problem! Visit the Poke Page to see a full index of searchable pokemon.</p>
        </div>
    

    </div>
    <div class="col-md-12"></div>
      <a class="navbar custom-link" href="#top">Back to top of page</a>
    </div>
  </div>

  
</div>


</body>

</html>
